body {
    background-image: url("img/Background.jpg");
    background-repeat: repeat;
    background-size:contain;
    background-attachment: fixed;
}

.art {
    position: absolute;
    font-size: 300px;
    width: 799px;
    height: 615px;
    top: 165px;
    left: 361px;
    overflow: scroll;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
}