@font-face {
  font-family: 'Aidan';
  src: url('Avfont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Numbers';
  src: url('LearnWriteDEMO.ttf') format('truetype');
  unicode-range: U+30-39,U+00A9;
}

body {
    background-image: url("img/AVBackground.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: "Aidan", "Numbers";
}


    
    .art {
      position: absolute;
      font-size: 30px;
      width: 1077px;
      height: 612px;
      top: 172px;
      left: 328px;
      overflow: scroll;
    display: flex;
    flex-direction: column;
  justify-content:center;
    font-size: 40px;
  }
  
  .sketchbook {
    background-image: url("img/sketchbook2.png");
      background-size: cover;
      position: absolute;
      width: 1350px;
      height: 790px;
      top: 3px;
      left: 75px;
      z-index: -5;
  }
  

.phonenavigation {
    position: fixed;
    width: 89%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

#copyright {
  position: absolute;
  top: 790px;
  left: 1230px;
}

.hiding {
  display:inline-block;
}

@media only screen and (max-width: 600px) {

.hiding {
  display: none;
}

#copyright {
  color: white;
  mix-blend-mode: difference;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.art {
  width: 85.4vw;
  height: 78vh;
  top: 52.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sketchbook {
  background-image: url("img/sketchbook-phone.png");
  background-size: 100% 100%;
  position: absolute;
  width: 95vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#home {
  position: absolute;
  top: 3px;
  left: 470px;
  width: 940px;
  height: 151px
}

.phonenavigation {
    display: initial;
}

.phonelinks #myLinks {
    display: none;
    background-color: #F3F3F7;
    border: 1px solid black;
}
  

.phonelinks a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}
  

.phonelinks a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

}
  
  table {
    margin: auto;
    width: 100v;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  td {
    width: 33.33%;
  }

img {
    display: block;
}
  
  /* take care of portrait orientation or ratio */
  
  html {
    height: 100%;
    width: 100%;
  }
  
  table {
    max-width: 100vw;
  }

  a {
    color: black;
    text-decoration:solid;
    /* text-shadow: -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black, 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black; */
  }