@font-face {
  font-family: 'Aidan';
  src: url('../Avfont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Numbers';
  src: url('../LearnWriteDEMO.ttf') format('truetype');
  unicode-range: U+30-39;
  size-adjust: 80%;
}

body {
    background-image: url("../img/AVBackground.jpg");
    background-size:100% 100%;
    background-color: #A6B5BC;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Aidan', 'Numbers';
}

.sketchbook {
  background-image: url("../img/sketchbook2.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 90vw;
  aspect-ratio: 3.5 / 2;
  margin: 0 auto;
  padding: 10px;
  position: relative; /*stacking context for absolute elements */
}

.art {
  position: absolute;
  color: black;
  font-size: 2em;
  width: 78%;
  aspect-ratio: 3.5 / 2;
  left: 19%;
  top: 21.6%;
  overflow: scroll;
}

#back {
  position: sticky;
  top: 0;
  left: 0;
  background-image: url("../img/paper.png");
  background-size: contain;
  background-color: #F3F3F7;
}

.zoom
 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 100vw solid rgba(0, 0, 0, 0.8);
  z-index: 5;
 }

#cape {
  display:none;
}

#alpha {
  display:none;
}

#docks {
  display:none;
}

#funny {
  display:none;
}

#lesbians {
  display:none;
}

#messy {
  display:none;
}

#pinup {
  display:none;
}

#zach {
  display:none;
}

#emoji {
  display:none;
}

#voices {
  display:none;
}

#home {
  position: absolute;
  top: 3px;
  left: 470px;
  width: 940px;
  height: 151px
}


.phonenavigation {
  position: fixed;
  width: 89%;
  /* top: 8%; */
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}


table {
  margin: auto;
  width: 100%;
  table-layout:auto;
  border-collapse: collapse;
  align-items: center;
}

td {
  width: 50%;
  vertical-align: bottom;
  text-align: center;
}

a {
color: black;
}

.doublehiding {
  display: none;
}

@media only screen and (max-width: 600px) {

.doublehiding {
  display: inherit;
}

body {
  background-image: url("../img/sketchbook-phone-ni.png");
}

.art {
  display: none;
}

.sketchbook {
  position: absolute;
  font-size: 2em;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-image: none;
  width: 90%;
  height: 75vh;
  /* top: 16%; */
  top: 145px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}


.phonenavigation {
    display: initial;
}

.phonelinks #myLinks {
    display: none;
    background-color: #F3F3F7;
    border: 1px solid black;
}
  

.phonelinks a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}
  

.phonelinks a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

}

hr {
  border-top: 1.5px solid black;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}