@font-face {
  font-family: 'Aidan';
  src: url('../Avfont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Numbers';
  src: url('../LearnWriteDEMO.ttf') format('truetype');
  unicode-range: U+30-39;
  size-adjust: 80%;
}

body {
    background-image: url("../img/AVBackground.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Aidan', 'Numbers';
}

.art {
    position: absolute;
    font-size: 30px;
    width: 1077px;
    height: 612px;
    top: 172px;
    left: 328px;
    overflow: scroll;
    z-index: -4;
}

.sketchbook {
  background-image: url("../img/sketchbook2.png");
    background-size: cover;
    position: absolute;
    width: 1350px;
    height: 790px;
    top: 3px;
    left: 75px;
    z-index: -5;
}

/* img:active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2); 
  border: 100vw solid rgba(0, 0, 0, 0.8);
} */

.zoom
 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 100vw solid rgba(0, 0, 0, 0.8);
 }

#violence {
  display:none;
}

#storm {
  display:none;
}

#harlege1 {
  display:none;
}

#harlege2 {
  display:none;
}

#you {
  display:none;
}

#snack1 {
  display:none;
}

#snack2 {
  display:none;
}

#interest {
  display:none;
}

#home {
  position: absolute;
  top: 3px;
  left: 470px;
  width: 940px;
  height: 151px
}

.phonenavigation {
    position: fixed;
    width: 89%;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

table {
  margin: auto;
  width: 100%;
  table-layout:auto;
  border-collapse: collapse;
  align-items: center;
}

td {
  width: 50%;
  vertical-align: bottom;
  text-align: center;
}

a {
color: black;
}

.hiding {
  display: inherit;
}
.doublehiding {
  display: none;
}

@media only screen and (max-width: 600px) {

.hiding {
  display: none;
}

.doublehiding {
  display: inherit;
}

.art {
  width: 85.4%;
  height: 78%;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sketchbook {
  background-image: url("../img/sketchbook-phone-ni.png");
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}


.phonenavigation {
    display: initial;
}

.phonelinks #myLinks {
    display: none;
    background-color: #F3F3F7;
    border: 1px solid black;
}
  

.phonelinks a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}
  

.phonelinks a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

}